/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [NetFlix]    Script Date: 14-Jan-18 9:09:01 PM ******/
CREATE DATABASE [NetFlix]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NetFlix', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\NetFlix.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NetFlix_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\NetFlix_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NetFlix].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NetFlix]
GO
USE [NetFlix]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 14-Jan-18 9:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Abonneenummer] [int] NOT NULL,
	[Naam] [nvarchar](100) NOT NULL,
	[Straat] [nvarchar](200) NOT NULL,
	[Postcode] [char](6) NOT NULL,
	[Huisnummer] [varchar](5) NOT NULL,
	[Plaats] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Abonneenummer] PRIMARY KEY CLUSTERED 
(
	[Abonneenummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aflevering]    Script Date: 14-Jan-18 9:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aflevering](
	[AfleveringId] [int] NOT NULL,
	[Serienaam] [nvarchar](300) NOT NULL,
	[Seizoen] [varchar](6) NOT NULL,
	[Titel] [nvarchar](50) NOT NULL,
	[Tijdsduur] [int] NOT NULL,
 CONSTRAINT [PK_Aflevering] PRIMARY KEY CLUSTERED 
(
	[AfleveringId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bekeken]    Script Date: 14-Jan-18 9:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bekeken](
	[Abonneenummer] [int] NOT NULL,
	[Profielnaam] [nvarchar](100) NOT NULL,
	[BekekenId] [int] NOT NULL,
	[Percentage] [tinyint] NOT NULL,
 CONSTRAINT [PK_Bekeken] PRIMARY KEY CLUSTERED 
(
	[Profielnaam] ASC,
	[BekekenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 14-Jan-18 9:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[FilmId] [int] NOT NULL,
	[Titel] [nvarchar](300) NOT NULL,
	[Leeftijdsindicatie] [tinyint] NULL,
	[Taal] [nvarchar](30) NOT NULL,
	[Tijdsduur] [int] NOT NULL,
	[Genre] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profiel]    Script Date: 14-Jan-18 9:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiel](
	[Profielnaam] [nvarchar](100) NOT NULL,
	[Abonneenummer] [int] NOT NULL,
	[Geboortedatum] [date] NOT NULL,
 CONSTRAINT [PK_Profiel] PRIMARY KEY CLUSTERED 
(
	[Profielnaam] ASC,
	[Abonneenummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programma]    Script Date: 14-Jan-18 9:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programma](
	[ProgrammaId] [int] NOT NULL,
 CONSTRAINT [PK_Id] PRIMARY KEY CLUSTERED 
(
	[ProgrammaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Serie]    Script Date: 14-Jan-18 9:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Serie](
	[Serienaam] [nvarchar](300) NOT NULL,
	[Seizoen] [tinyint] NOT NULL,
	[Leeftijdsindicatie] [tinyint] NULL,
	[Taal] [nvarchar](30) NOT NULL,
	[Genre] [nvarchar](20) NOT NULL,
	[LijktOp] [nvarchar](300) NULL,
 CONSTRAINT [PK_Serie] PRIMARY KEY CLUSTERED 
(
	[Serienaam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aflevering]  WITH CHECK ADD FOREIGN KEY([Serienaam])
REFERENCES [dbo].[Serie] ([Serienaam])
GO
ALTER TABLE [dbo].[Aflevering]  WITH CHECK ADD  CONSTRAINT [FK_Aflevering] FOREIGN KEY([Serienaam])
REFERENCES [dbo].[Serie] ([Serienaam])
GO
ALTER TABLE [dbo].[Aflevering] CHECK CONSTRAINT [FK_Aflevering]
GO
ALTER TABLE [dbo].[Aflevering]  WITH CHECK ADD  CONSTRAINT [FK_Aflevering2] FOREIGN KEY([AfleveringId])
REFERENCES [dbo].[Programma] ([ProgrammaId])
GO
ALTER TABLE [dbo].[Aflevering] CHECK CONSTRAINT [FK_Aflevering2]
GO
ALTER TABLE [dbo].[Bekeken]  WITH CHECK ADD  CONSTRAINT [FK_Bekeken] FOREIGN KEY([Profielnaam], [Abonneenummer])
REFERENCES [dbo].[Profiel] ([Profielnaam], [Abonneenummer])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bekeken] CHECK CONSTRAINT [FK_Bekeken]
GO
ALTER TABLE [dbo].[Bekeken]  WITH CHECK ADD  CONSTRAINT [FK_Gezien] FOREIGN KEY([BekekenId])
REFERENCES [dbo].[Programma] ([ProgrammaId])
GO
ALTER TABLE [dbo].[Bekeken] CHECK CONSTRAINT [FK_Gezien]
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD  CONSTRAINT [FK_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Programma] ([ProgrammaId])
GO
ALTER TABLE [dbo].[Film] CHECK CONSTRAINT [FK_FilmId]
GO
ALTER TABLE [dbo].[Profiel]  WITH CHECK ADD  CONSTRAINT [FK_Profiel] FOREIGN KEY([Abonneenummer])
REFERENCES [dbo].[Account] ([Abonneenummer])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Profiel] CHECK CONSTRAINT [FK_Profiel]
GO
USE [master]
GO
